.page {
    border-right: .1em solid rgba($fontMainColor,.4);
    border-bottom: .1em solid rgba($fontMainColor,.4);
    border-left: .1em solid rgba($fontMainColor,.4);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    // Standard
    @media screen and (min-width: $displayMinSmall) {
        padding: .2em;
        width: $pageWidth; min-height: 100%;
    }
    // Small
    @media screen and (max-width: $displayMinSmall) {
        font-size: 1.3em;
        padding-left: .9%;
        padding-right: .9%;
        width: $pageSmallWidth - 4%; min-height: 100%;
    }

    .loading {
        background-image: url('../images/loading-animation.gif');
        background-size:2em 2em;
        background-repeat: no-repeat;
        //background-attachment: fixed;
        //background-position: left;
        //background-color: red;
        color: rgba(255,255,255,0);
        content: none;
        display: block;
        margin: auto auto;
        overflow: hidden;
        width: 2em; height: 2em;
    }
    .mainheader {

        position: relative;
        // Standard
        @media screen and (min-width: $displayMinSmall) {
            padding: 1em 5em 1em 5em;
            width: $pageWidth - 10em;
            .part1 {
                display: inline-block;
                float: left;
                margin-right: .5em;
            }
            .part2 {
                background-color: rgba($fontMainColor,0.1);
                display: inline-block;
                float: left;
                width: 37.5em; height: .3em;
            }
            .part3 {
                display: inline-block;
                float: right;
                margin-left: .5em;
            }
            &:after{
                @include clearFix();
            }
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            padding: .5em .5% .5em .5%;
            width: $pageSmallWidth;
        }

    }
    .mainbody {

        position: relative;
        // Standard
        @media screen and (min-width: $displayMinSmall) {
            padding: 1em 5em 3em 5em;
            width: $pageWidth - 10em;
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            padding: 1em .5% 2.4em .5%;
            width: $pageSmallWidth;
        }

    }
    .mainfooter {
        background-color: rgba($fontMainColor,0.1);
        // Standard
        @media screen and (min-width: $displayMinSmall) {
            font-size: .7em;
            margin-top: 1.5em;
            padding: .4em 2em .3em 2em;
            position: absolute; bottom: .3em; right: .3em; left: .3em;
            text-align: right;
            height: 1.4em;
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            font-size: .7em;
            margin-top: 1.5em;
            padding: .4em 1% .2em 1%;
            position: absolute; bottom: .3em;
            text-align: center;
            width: $pageSmallWidth - 4%; height: 1.3em;
        }
    }
}

.module .bizNav {
    li {

        // Standard
        @media screen and (min-width: $displayMinSmall) {
            display: inline-block;
            position: relative;
            padding-right: .3em;
            a {
                color: rgba($fontActiveColor,0);
                display: block;
                font-size: .7em;
                i {
                    background-color: rgba($fontMainColor,.6);
                    display: block;
                    position: relative;
                    width:3em * 1.4; height: 1em * 1.4;
                }
                &.active, &:link.active, &:visited.active, &:active.active, &:hover.active {
                    i {
                        background-color: rgba($highlight1Color,1);
                    }
                    color: rgba($highlight1Color,1);
                }
                &, &:link, &:visited{
                    background-color: rgba($fontMainColor,.6);
                    color: rgba($fontActiveColor,0);
                }
                &:active, &:hover {
                    background-color: rgba($fontActiveColor,1);
                    color: rgba($fontMainColor,1);
                }
                div {
                    padding-bottom: .3em;
                    position: absolute; top: -1.3em; left: 0em;
                    width: 20em;
                }
            }
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            position: relative;

            a {
                display: block;
                margin-bottom: .3em;
                i {
                    background-color: rgba($fontMainColor,.6);
                    display: inline-block;
                    margin-right: .5em;
                    width:1.2em; height: 1em;
                }
                &.active, &:link.active, &:visited.active, &:active.active, &:hover.active {
                    i {
                        background-color: rgba($highlight1Color,1);
                    }
                    color: rgba($highlight1Color,1);
                }
                &, &:link, &:visited{
                    //background-color: rgba($fontMainColor,.6);
                    //color: rgba($fontActiveColor,0);
                }
                &:active, &:hover {
                    background-color: rgba($fontActiveColor,.1);
                    color: rgba($fontMainColor,1);
                }
                div {
                    display: inline-block;
                }
            }
        }

    }
}

.module .bizContact {

    .link {

        // Standard
        @media screen and (min-width: $displayMinSmall) {
            display: inline-block;
            position: relative;
            a {
                color: rgba($fontActiveColor,0);
                display: block;
                font-size: .7em;

                i {
                    color: $fontActiveColor;
                    font-size: 1.5em;
                }
                &:link, &:visited{
                    color: rgba($fontActiveColor,0);
                }
                &:active, &:hover {
                    color: $fontActiveColor;
                    cursor: pointer;
                }
                div {
                    padding-bottom: .3em;
                    position: absolute; top: -1.3em; left: 0em;
                }
            }
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            position: relative;
            a {
                display: block;
                margin-bottom: .3em;
                i {
                    color: $fontActiveColor;
                    padding-right: .3em;
                    font-size: 1.2em;
                    width:1.2em;
                }
                &:link, &:visited{
                    color: rgba($fontActiveColor,0);
                }
                &:active, &:hover {
                    background-color: rgba($fontActiveColor,.1);
                    color: $fontActiveColor;
                    cursor: pointer;
                }
                div {
                    display: inline-block;
                }
            }
        }
    }

    .body {
        background-color: $mainLightColor;
        border: .1em solid rgba($mainColor, 1);
        color: $mainDarkColor;
        @include box-shadow(.2em, .2em, 1em, rgba(#000, .5));
        z-index: 500;
        // Standard
        @media screen and (min-width: $displayMinSmall) {
            padding: 1.5em;
            position: absolute; top: 3em; right:5em;
            width: 30em;
        }
        // Small
        @media screen and (max-width: $displayMinSmall) {
            padding: .5em 5% .5em 5%;
            position: absolute; top: 3em; left:0;
            width: $pageSmallWidth - 11%; min-height: 2em;
        }
        .loading {
            margin: auto auto;
            position: absolute; top:.5em; left: 1em;
        }
        .info {
            padding-bottom: .7em;
            .title {
                border-bottom: .2em solid $highlight1Color;
                display: block;
                font-size: 1.2em;
                margin-bottom: .5em;
                padding-bottom: .1em;
                text-align: right;
            }
        }
        .form {
            div {
                padding: .2em;
                vertical-align: text-top;
            }
            label {
                display: block;
                font-size: .8em;
            }
            .input {
                display: block;
            }
            .message label {
                display: block;
            }
        }
    }


}

.module .bizOverview {

    // Standard
    @media screen and (min-width: $displayMinSmall) {
        padding-top: 4em;
        width: $pageWidth - 10em;
        .part1 {
            display: block;
            float: left;
            width: ($pageWidth - 12em) * .6;
        }
        .part2 {
            display: block;
            float: right;
            padding-top: 3.8em;
            padding-left: 2em;
            width: ($pageWidth - 12em) * .4;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 4em;
            text-align: right;
        }
        .subtitle {

            display: block;
            font-size: 1.2em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {
            line-height: 1.2em;
        }
    }
    // Small
    @media screen and (max-width: $displayMinSmall) {
        padding-top: 1em;
        width: $pageSmallWidth;
        .part1 {
            display: block;
            float: left;
            width: $pageSmallWidth - 3%;
        }
        .part2 {
            display: block;
            float: left;
            padding-top: 2em;
            width: $pageSmallWidth - 3%;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 3em;
            text-align: right;
        }
        .subtitle {

            display: block;
            font-size: 1em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {
            line-height: 1.2em;
        }
    }
    &:after{
        @include clearFix();
    }
}

.module .bizResume {

    // Standard
    @media screen and (min-width: $displayMinSmall) {
        padding-top: 4em;
        width: $pageWidth - 10em;
        li {
            list-style-type: square;
            margin-left: 2em;
            padding-bottom: .3em;
        }

        header {

            padding-bottom: 4em;
            .part1 {
                display: block;
                float: left;
                width: ($pageWidth - 13em) * .6;
            }
            .part2 {
                display: block;
                float: right;
                padding-top: 1em;
                text-align: right;
                width: ($pageWidth - 13em) * .4;
            }
            .title {
                border-bottom: .1em solid $highlight1Color;
                display: block;
                font-size: 4em;
                text-align: right;
            }
            .subtitle {

                display: block;
                font-size: 1.1em;
                padding-top: .5em;
                text-align: right;
            }
            .address {
                padding-bottom: .2em;
                div {
                    display: inline-block;
                    padding-bottom: .2em;
                }
                zip {
                    padding-left: .5em;
                }
            }
            .contact {
                div {
                    padding-bottom: .2em;
                }
                .protocol {
                    font-size: .9em;
                }
            }
            &:after{
                @include clearFix();
            }
        }
        .resumebody {
            padding-bottom: 1em;
            section {
                float: left;
                padding-bottom: 2em;
                position: relative;
                .part1 {

                    display: block;
                    float: left;
                    width: ($pageWidth - 13em) * .15;
                    .title {
                        border-bottom: .1em solid $highlight1Color;
                        font-weight: bold;
                        text-align: right;
                        text-transform: uppercase;
                    }
                }
                .part2 {
                    display: block;
                    float: right;
                    padding-left: 2em;
                    width: ($pageWidth - 13em) * .85;
                }
            }

            .summary {
                .subtitle {
                    font-weight: bold;
                    padding-bottom: 1.5em;
                }
            }

            .interest {
                .title {
                    font-weight: bold;
                    padding-bottom: 1.5em;
                }
                .points {
                    padding-bottom: 1.5em;
                }
            }

            .experience {
                .position {
                    padding-bottom: 3em;
                    .overview {
                        margin-bottom: .3em;
                        .title {
                            font-weight: bold;
                            display: inline-block;
                            float: left;
                        }
                        .datarange {
                            display: inline-block;
                            float: right;
                            div {
                                display: inline-block;
                            }
                            .start:after {
                                content: " - ";
                            }

                        }
                        &:after{
                            @include clearFix();
                        }
                    }

                    .company {
                        padding-bottom: 1em;
                        .name {
                            display: inline-block;
                            float: left;
                        }

                        .address {
                            display: inline-block;
                            float: right;
                            padding-bottom: .2em;
                            div {
                                display: inline-block;
                                padding-bottom: .2em;
                            }
                            zip {
                                padding-left: .5em;
                            }
                        }

                        &:after{
                            @include clearFix();
                        }
                    }
                    .body {
                        padding-left: 1em;
                    }
                }

            }

            .education {
                .school {
                    padding-bottom: 1.5em;
                    .degree {
                        margin-bottom: .3em;
                        .title {
                            font-weight: bold;
                            display: inline-block;
                            float: left;
                            width: 26em;
                        }
                        .type {
                            display: inline-block;
                            float: left;
                        }
                        .date {
                            display: inline-block;
                            float: right;
                        }
                        &:after{
                            @include clearFix();
                        }
                    }
                    .company {
                        .name {
                            display: inline-block;
                            float: left;
                        }

                        .address {
                            display: inline-block;
                            float: right;
                            padding-bottom: .2em;
                            div {
                                display: inline-block;
                                padding-bottom: .2em;
                            }
                            zip {
                                padding-left: .5em;
                            }
                        }
                        &:after{
                            @include clearFix();
                        }
                    }
                }
            }

            &:after{
                @include clearFix();
            }
        }

        footer {
            border-top: .1em solid $fontMainColor;
            padding-top: .3em;
            text-align: right;
            .link {
                display: inline-block;
                padding-left: 2em;
                i{
                    display: inline-block;
                }
                div {
                    display: inline-block;
                    padding-left: .7em;
                }
            }
        }
    }
    // Small
    @media screen and (max-width: $displayMinSmall) {
        padding-top: 1em;
        width: $pageSmallWidth;
        li {
            list-style-type: square;
            margin-left: 2em;
            padding-bottom: .3em;
        }

        header {

            padding-bottom: 2em;
            .part1 {
                display: block;
                width: $pageSmallWidth - 3%;
            }
            .part2 {
                display: block;
                font-size: .7em;
                padding-top: 1em;
                text-align: right;
                width: $pageSmallWidth - 3%;
            }
            .title {
                border-bottom: .1em solid $highlight1Color;
                display: block;
                font-size: 3em;
                text-align: right;
            }
            .subtitle {
                display: block;
                font-size: 1em;
                padding-top: .5em;
                text-align: right;
            }

            .address {
                padding-bottom: .2em;
                div {
                    display: inline-block;
                    padding-bottom: .2em;
                }
                zip {
                    padding-left: .5em;
                }
            }
            .contact {
                div {
                    padding-bottom: .2em;
                }
                .protocol {
                    font-size: .9em;
                }
            }
            &:after{
                @include clearFix();
            }
        }
        .resumebody {
            line-height: 1.2em;
            padding-bottom: 1em;
            section {
                padding-bottom: 2em;
                position: relative;
                .part1 {
                    display: block;
                    padding-bottom: 2em;
                    width: $pageSmallWidth - 3%;
                    .title {
                        border-bottom: .1em solid $highlight1Color;
                        color: $highlight1Color;
                        font-size: 1.2em;
                        font-weight: bold;
                        text-align: left;
                        text-transform: uppercase;
                    }
                }
                .part2 {
                    display: block;
                    padding-left: .3em;
                    width: $pageSmallWidth - 3%;
                }
            }

            .summary {
                .subtitle {
                    font-weight: bold;
                    padding-bottom: 1.5em;
                }
            }

            .interest {
                .title {
                    border-bottom: .1em solid rgba($fontMainColor,0.5);
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-bottom: 1em;
                    padding-bottom: .1em;
                }
                .points {
                    padding-bottom: 1.5em;
                }
            }

            .experience {
                .position {
                    padding-bottom: 3em;
                    .overview {
                        margin-bottom: .3em;
                        .title {
                            border-bottom: .1em solid rgba($fontMainColor,0.5);
                            font-size: 1.1em;
                            font-weight: bold;
                            display: block;
                            padding-bottom: .1em;
                        }
                        .datarange {
                            display: block;
                            font-size: .7em;
                            div {
                                display: inline-block;
                            }
                            .start:after {
                                content: " - ";
                            }

                        }
                        &:after{
                            @include clearFix();
                        }
                    }

                    .company {
                        padding-bottom: 1em;
                        .name {
                            display: block;
                        }

                        .address {
                            display: inline-block;
                            font-size: .7em;
                            padding-bottom: .2em;
                            div {
                                display: inline-block;
                                padding-bottom: .2em;
                            }
                            zip {
                                padding-left: .5em;
                            }
                        }
                    }
                    .body {
                        padding-left: .3em;
                    }
                }

            }

            .education {
                .school {
                    padding-bottom: 1.5em;
                    .degree {
                        margin-bottom: .3em;
                        .title {
                            border-bottom: .1em solid rgba($fontMainColor,0.5);
                            font-weight: bold;
                            display: block;
                        }
                        .type {
                            display: inline-block;
                            font-size: .7em;
                            &:after{
                                content: ", ";
                            }
                        }
                        .date {
                            display: inline-block;
                            font-size: .7em;
                        }
                        &:after{
                            @include clearFix();
                        }
                    }
                    .company {
                        .name {
                            display: block;
                        }

                        .address {
                            display: inline-block;
                            font-size: .7em;
                            padding-bottom: .2em;
                            div {
                                display: inline-block;
                                padding-bottom: .2em;
                            }
                            zip {
                                padding-left: .5em;
                            }
                        }
                    }
                }
            }

            &:after{
                @include clearFix();
            }
        }

        footer {
            border-top: .1em solid $fontMainColor;
            padding-top: .3em;
            text-align: right;
            .link {
                display: inline-block;
                padding-left: 2em;
                i{
                    display: inline-block;
                }
                div {
                    display: inline-block;
                    padding-left: .7em;
                }
            }
        }
    }

    &:after{
        @include clearFix();
    }
}

.module .bizSkills {
    padding-top: 4em;
    width: $pageWidth - 10em;

    .skillsheader {
        padding-bottom: 4em;
        .part1 {
            display: block;
            float: left;
            width: ($pageWidth - 12em) * .4;
        }
        .part2 {
            display: block;
            float: right;
            padding-top: 1.8em;
            padding-left: 2em;
            width: ($pageWidth - 12em) * .6;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 2em;
            font-weight: bold;
            text-align: right;
        }
        .subtitle {
            display: block;
            font-size: 1.1em;
            padding-top: .5em;
            text-align: right;
        }
        &:after{
            @include clearFix();
        }
    }
    &:after{
        @include clearFix();
    }
    .skills {
        .overview {
            border-top: .1em solid $fontMainColor;
            font-weight: bold;
            padding-top: .3em;
            padding-bottom: 1.5em;
            padding-left: .7em;
            .info {
                display: block;
                float: left;
                width: 18em;
            }
            .level {
                display: block;
                float: left;
                padding-left: 2em;
                width: 12em;
            }
            .yearsexperience {
                display: block;
                float: left;
                padding-left: 2em;
                width: 12em;
            }
            .lastused {
                display: block;
                float: left;
                width: 5em;
            }
            &:after{
                @include clearFix();
            }
        }
        .skill {
            border-top: .1em solid rgba($fontMainColor,0.5);
            border-left: .2em solid rgba($fontMainColor,0.5);
            margin-bottom: .7em;
            padding: .3em;
            &:hover {
                background-color: rgba($fontMainColor,0.1);
            }
            .info {
                display: block;
                float: left;
                width: 18em;
                .name {
                    border-bottom: .1em solid rgba($fontMainColor,0.5);
                    font-size: 1.2em;
                }

                .details {
                    font-size: .7em;
                    padding-top: .2em;
                }
            }
            .level {
                display: block;
                float: left;
                padding-left: 2em;
                width: 12em;
            }
            .yearsexperience {
                display: block;
                float: left;
                padding-left: 2em;
                width: 12em;
            }
            .lastused {
                display: block;
                float: left;
                width: 5em;
            }
            &:after{
                @include clearFix();
            }
        }
    }
}

.module .bizAbout {

    // Standard
    @media screen and (min-width: $displayMinSmall) {
        padding-top: 4em;
        width: $pageWidth - 10em;

        .part1 {
            display: block;
            float: left;
            width: ($pageWidth - 12em) * .4;
        }
        .part2 {
            display: block;
            float: right;
            padding-top: 1.8em;
            padding-left: 2em;
            width: ($pageWidth - 12em) * .6;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 2em;
            font-weight: bold;
            text-align: right;
        }
        .subtitle {
            display: block;
            font-size: 1.1em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {}
    }
    // Small
    @media screen and (max-width: $displayMinSmall) {
        padding-top: 1em;
        width: $pageSmallWidth;

        .part1 {
            display: block;
            float: left;
            width: $pageSmallWidth - 3%;
        }
        .part2 {
            display: block;
            float: left;
            padding-top: 2em;
            width: $pageSmallWidth - 3%;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 2em;
            text-align: right;
        }
        .subtitle {

            display: block;
            font-size: 1em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {
            line-height: 1.2em;
        }
    }

    &:after{
        @include clearFix();
    }
}


.module .bizResources {

    // Standard
    @media screen and (min-width: $displayMinSmall) {
        padding-top: 4em;
        width: $pageWidth - 10em;

        .part1 {
            display: block;
            float: left;
            width: ($pageWidth - 12em) * .4;
        }
        .part2 {
            display: block;
            float: right;
            padding-top: 1.8em;
            padding-left: 2em;
            width: ($pageWidth - 12em) * .6;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 2em;
            font-weight: bold;
            text-align: right;
        }
        .subtitle {
            display: block;
            font-size: 1.1em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {
            padding-bottom: 1em;
        }
        .link {
            display: block;
            position: relative;
            padding-bottom: .5em;
            .label {
                display: inline-block;
                padding-left: .7em;
            }
            .description {
                font-size: .7em;
                padding: .2em 0em .2em 2.5em;
            }
        }
    }
    // Small
    @media screen and (max-width: $displayMinSmall) {
        padding-top: 1em;
        width: $pageSmallWidth;

        .part1 {
            display: block;
            float: left;
            width: $pageSmallWidth - 3%;
        }
        .part2 {
            display: block;
            float: left;
            padding-top: 2em;
            width: $pageSmallWidth - 3%;
        }
        .title {
            border-bottom: .1em solid $highlight1Color;
            display: block;
            font-size: 2em;
            text-align: right;
        }
        .subtitle {

            display: block;
            font-size: 1em;
            padding-top: .5em;
            text-align: right;
        }
        .summary {
            line-height: 1.2em;
            padding-bottom: 1em;
        }
        .link {
            display: block;
            position: relative;
            padding-bottom: .5em;
            .label {
                display: inline-block;
                padding-left: .7em;
            }
            .description {
                font-size: .7em;
                padding: .2em 0em .2em 2.5em;
            }
        }
    }

    &:after{
        @include clearFix();
    }
}